.create-review-section {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 28vw;
    min-height: 40vh;
}

.review-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40vh;
}

.review-submit-container {
    display: flex;
    justify-content: center;
}

.error-header-text {
    margin-left: 13px;
}

.review-submit-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* .stars-and-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.review-stars {
    margin-left: 13px;
}

.review-header {
    display: flex;
    justify-content: center;
}

.review-line-item {
    display: flex;
    justify-content: center;
}

.review-textarea {
    resize: none;
    border-radius: 0.5em;
    padding: 10px;
    margin-top: 2px;
    height: 15vh;
    width: 25vw;
}

.review-label {
    margin-right: 5px;
}

.val-errors {
    color: red;
}

.spot-val-error-line {
    color: red;
}
