.bookings-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26%;
    border: 1px solid #dedddd;
    border-radius: 13px;
    padding: 24px;
    margin-top: 18px;
}

.bookings-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookings-date-inputs {
    display: flex;
}

.booking-input-container {
    display: flex;
    flex-direction: column;
}

.bookings-panel-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price-details-total {
    display: flex;
    justify-content: space-between;
}
