.current-spots-container {
    display: flex;
    flex-direction: column;
}

.spot-card-container {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 400px;
}

.myspots-header {
    display: flex;
    justify-content: center;
}
