.spot-card-div {
    margin: 10px 20px;
}

.link-spot {
    text-decoration: none;
}

.spot-base {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 320px;
    margin: 25px;
}

.display-bucket {
    height: 72%;
    width: 100%;
}

.img-thumbnail {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.spot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.spot-price-tag {
    color: black;
}
