.spot-details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-details-header {
    width: 75%;
}

.spot-info {
    display: flex;
    align-items: center;
}

.spot-info-rating {
    font-weight: 700;
}

.spot-info-separator {
    margin: 0 8px;
}

.spot-show-image-container {
    width: 75%;
    height: 500px;
}

.spot-show-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spot-bottom-description {
    width: 75%;
}

.price-line {
    display: flex;
}

.spot-bold-price-tag {
    font-weight: 700;
    margin-left: 10px;
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.review-container {
    width: 100%;
}

.spot-owner-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spot-owner-delete-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 8%;
    padding: 5px;
}

.spot-owner-update-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
}

.spot-owner-update-link {
    margin-top: 5px;
    width: 8%;
}

.bottom-section-container {
    display: flex;
    justify-content: center;
}
