.update-spot-form-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.update-spot-form {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 75vh;
    justify-content: space-around;
}

.update-spot-form-line {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-spot-form-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    width: 90%;
    cursor: pointer;
}

.update-spot-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.return-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.return-div {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.return-button-link {
    width: 90%;
}
