.update-spot-form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.update-spot-form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.update-spot-form-line {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.update-spot-form-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    width: 90%;
    cursor: pointer;
}

.update-spot-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
