/* TODO Add site wide styles */
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

/* .root {
    display: flex;
    height: 100vw;
    width: 100vw;
} */

html, body, #root, .App {
    height: 100%;
  }

html {
    min-height: 100% !important;
    height: 100%;
}
