.button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.demo-user-button {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    width: 90%;
    height: 2em;
    cursor: pointer;
}
