.login-form-page {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.login-line-input {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.login-button-input {
    background-color: #ff6961;
    color: white;
    border-radius: 20px;
    width: 90%;
    height: 2em;
    cursor: pointer;
}

.login-error-line {
    color: red;
}

.login-input-box {
    border-radius: 10px;
    padding: 5px;
}
